
<tr id='show_item-<%= show_item.id %>'>
  <td> 
    <%#= 画像 %>
    <% if show_item.image.url %>
     <%= image_tag(show_item.image.url,alt: show_item.name, class: "cart-img")  %>
    <% else %>
      <%= image_tag('no-image.png', alt: show_item.name, class: "cart-img") %> 
    <% end %>
  </td>
  <td>
     <%# 商品名表示 %>
     <%= link_to(show_item.name, show_item.item) %>
  </td>
  <td>
    <%= show_item.price * show_item.quantity  %> 円
    (@<%= show_item.price %>)
  </td>
  <td> 
    
    <%#= show_item.quantity %>
    <!--<div id="form-<%#= show_item.id %>">-->
    <%#= form_for(show_item, html: {controller: :line_items, action: :update, method: :patch}, data: { remote: true}) do |f| %>
    <%= form_for(show_item, html: {controller: :line_items, action: :update, method: :patch}) do |f| %>
      <%# プルダウンで選択させたい %>
      <%# 0 から show_item.item.stock %>
      <!--<div id="quantity-<%#= show_item.id %>">-->
        <%= f.number_field :quantity, id: "quantity-"+ show_item.id.to_s %>
      <!--</div>-->
      <br>
      <script>
         $("#quantity-<%#= show_item.id %>").change(function(e){
           // $('#form-<%#= show_item.id %>').submit();
           $('#edit_line_item_<%#= show_item.id %>').submit();

         });
       </script>
      
      
     <%#= f.submit %>
    <% end %>
    <!--</div>-->
  </td>
</tr>

