<div class="row item-page">
  <div class="col-md-4">
    <%#= image_tag('no-image.png', alt: @item.name, class: "item-img-top") %>
    <% if @item.image.url %>
     <%= image_tag @item.image.url %>
    <% else %>
      <%= image_tag('no-image.png',  class: "card-img-top") %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h4 class="card-title"> <%= @item.name %> </h4>
    <% #TODO 仕入れを作成したら残り個数を表示させる %>
    <p class="card-text">残り<%= @item.stock %>個</p>
    
    <% if @item.stock? && logged_in? %>
      <%= form_for(current_user.cart) do |f| %>
        <div>
          <%= hidden_field_tag :item_id, @item.id %>
        </div>
        <%= f.submit "カートに追加", class: "btn btn-primary" %>
      <% end %>
    <% elsif @item.stock? %>
        <%# button_to はpost %>
        <%= button_to("カートに追加", login_path , class: "btn btn-primary" ,:method => :get) %>
    <% else %>
      <h4>在庫切れ</h4>
    <% end %>
    
    <% if logged_in? %>
      <% #adminなら登録ボタンを表示 %>
      <% if admin? %>
        <%# 編集ボタンを表示 %>
        <a href=<%= edit_item_path %>>編集</a>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class="row buy_together">
  <% unless @item.buyTogether.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        この商品を買った人はこんな商品も買っています
      </div>
      <div class="panel-body">
        <%= render 'share/items', items: @item.buyTogether %>
      </div>
    </div>
    
  <% end %>
</div>
