<% if Rails.env.development? %>
  views\items\show.html.erb 
<% end %>
<div class="row item-page">
  <div class="col-md-4">
    <%= image_tag('no-image.png', alt: @item.name, class: "item-img-top") %>
  </div>
  <div class="col-md-8">
    <h4 class="card-title"> <%= @item.name %> </h4>
    <% #TODO 仕入れを作成したら残り個数を表示させる %>
    <p class="card-text">残り<%= @item.stock %>個</p>
    
    <% if @item.stock? %>
      <%= form_for(current_user.cart) do |f| %>
        <div>
          <%= hidden_field_tag :item_id, @item.id %>
        </div>
        <%= f.submit "カートに追加", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <h4>在庫切れ</h4>
    <% end %>
    
    <% if logged_in? %>
      <% #adminなら登録ボタンを表示 %>
      <% if admin? %>
        <%# 編集ボタンを表示 %>
        <a href=<%= edit_item_path %>>編集</a>
      <% end %>
    <% end %>
  </div>
</div>
