<h1>購入手続き</h1>

<% if @items.count != 0 %>
　<p>以下の内容で購入します</p>
  <%# カートの中身を一覧表示 %>
  <%= render 'share/item_table', items: @items %>
  
  <% #submitしたら@userのbuyを呼ぶ感じで %>
  <%= form_for(@sale) do |f| %>
  
    <%= f.submit "購入", class: "btn btn-primary" %>
    
  <% end %>
  <%= button_to("カートに戻る", cart_index_path, class: "btn btn-primary", :method => :get ) %>
<% else %>
 カートが空です
<% end %>

<%= debug @user if Rails.env.development? %>