<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Labo Store", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            商品 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "一覧", items_path %></li>
            <li><%= link_to "ランキング", '#' %></li>
            <li><%= link_to "新着", '#' %></li>
          </ul>
        </li>
        
        <% if logged_in? %>
          <% #adminなら登録ボタンを表示 %>
          <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                登録 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "商品登録", register_items_path %></li>
                <li><%= link_to "分類登録", new_type_path %></li>
              </ul>
            </li>
          
          <% end %>
        
          <li><%= link_to "カート", cart_path(id: session[:user_id]) %></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "購入履歴", sales_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>